<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @store_item.price %>
</p>

<p>
  <strong>Item category:</strong>
  <%= @store_item.item_category_id %>
</p>

<%= link_to 'Edit', edit_store_item_path(@store_item) %> |
<%= link_to 'Back', store_items_path %>
