<p id="notice"><%= notice %></p>

<h1>Discount Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discount_types.each do |discount_type| %>
      <tr>
        <td><%= discount_type.name %></td>
        <td><%= discount_type.status %></td>
        <td><%= link_to 'Show', discount_type %></td>
        <td><%= link_to 'Edit', edit_discount_type_path(discount_type) %></td>
        <td><%= link_to 'Destroy', discount_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discount Type', new_discount_type_path %>
