<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order_item.user_id %>
</p>

<p>
  <strong>Store item:</strong>
  <%= @order_item.store_item_id %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
