<p id="notice"><%= notice %></p>

<p>
  <strong>Percentage:</strong>
  <%= @discount.percentage %>
</p>

<p>
  <strong>Discount type:</strong>
  <%= @discount&.discount_type&.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @discount.status %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
