<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

            body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }
      form{
        text-align: left;
      }

    </style>
  </head>

  <body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">STORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
         <%= link_to "Store <span class='sr-only'>(current)</span>".html_safe, store_items_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to "Discount <span class='sr-only'>(current)</span>".html_safe, discounts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to "Category <span class='sr-only'>(current)</span>".html_safe, item_categories_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to "Tax <span class='sr-only'>(current)</span>".html_safe, taxes_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'New Order', orders_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Order Filter</a>
        <div class="dropdown-menu">
          <%= link_to "Pending".html_safe, orders_path(:status => 'pending'), class: "dropdown-item" %>
          <%= link_to "In Progress".html_safe, orders_path(:status => 'in_progress'), class: "dropdown-item" %>
          <%= link_to "Done".html_safe, orders_path(:status => 'in_progress'), class: "dropdown-item" %>
        </div>
      </li>
    </ul>
   
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
     <%= yield %>
  </div>

</main><!-- /.container -->


      
  </body>
</html>

